:root {
    --nav-color: #253f72;
}


/* base setting */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font-sizing */
*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}

/* Base styles (element selector) */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f0f0f0;
    background: linear-gradient(rgb(134, 165, 209),rgb(131, 154, 174))
    
}

header {
    width: 100%;
    height: auto;
    display: flex;
    background: linear-gradient(red, rgb(177, 29, 29));
    justify-content: center;
    margin-top: 40px;    
}

section {
    display: block;
    margin: 3% 3% 5% 3%;
    justify-content: center;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

a {
    color: rgb(243, 237, 237);
    text-decoration: none;
}

a:hover {
    color: rgb(147, 40, 147);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* class selector */

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-color);
    text-decoration: underline;
}

.nav ul li {
    margin: 10px 20px;
    font-weight: 500;
    font-size: 2.4rem;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.about {
    display: block;
    width: 100%;
    height: 600%;
}

.left{
    padding-right: 3%;
    margin: 3%;
    border-right: 5px solid black;
    display: inline-block;
}

.picture-right {
    right: 0;
}

.welcome div h1{
    display: block;
}

.welcome div p {
    display: block;
}

div > figure {
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
}

div > figure > img {
    justify-content: center;
}

.skills-container {
    margin: 2rem 0 8rem 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-template-rows: repeat(auto-fit, 40px);
    gap: 2.5rem;
}

.skill {
    display: inline;
}

.skill i {
    font-size: 5rem;
}

/* .contact {
    display: inline;
    position: fixed;
    width: 100%;
    height: 300px;
} */

.contact {
    position: relative;
    object-fit: cover;
    vertical-align: text-top;
}

.contact div h2 {
    display: flex;
    justify-content: flex-start;
}

.contact-list {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 1;
    gap: 4rem;
}

.contact-content i {
    font-size: 3rem;
}

.display {
    display: inline;
}


.application {
    min-width: 5vw;
    width: auto;
    min-height: 1vh;
    height: auto;
    background-color:aliceblue;
    margin: 2% auto;
    padding: 3% var(--nav-color);
    object-fit: cover;
}

.app-title {
    position: relative;
    width: 20%;
    height: 5vh;
    left: 0;
    bottom: 0;
    background-color: #253f72;
}

.block {
    display: block;
    min-block-size: ;
    position: absolute;

}

/* Id selector */

#contact {
    position: relative;
}

#about {
    display: block;
    width: auto;
    margin: 0 auto;
    font-size: 1.6rem;
}

#first-projects {
    width: 100%;
    height: auto;
    max-width: 400px;
}

#first-about {
    margin-bottom: 2%;
}

#first-application {
    width: 66%;
    height: 20vh;
}

#LinkedInImage {
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width: 487px) {

}